<article class="post-card-wrap column medium-6 large-4">

  <a href="img/photo/image1.jpg" rel="ilightbox[GALLERY]"><img src="img/photo/image1.jpg" style="width: 610px; height: auto;"/></a> 
		  <a href="img/photo/image2.jpg" rel="ilightbox[GALLERY]"></a>
		  <a href="img/photo/image3.jpg" rel="ilightbox[GALLERY]"></a>
		  <a href="img/photo/image4.jpg" rel="ilightbox[GALLERY]"></a>

          <a href="img/photo/image2.jpg" rel="ilightbox[GALLERY2]"><img src="img/photo/image2.jpg" style="width: 610px; height: auto;"/></a>
		  <a href="img/photo/image3.jpg" rel="ilightbox[GALLERY2]"></a>
		  

          <a href="img/photo/image3.jpg" rel="ilightbox[GALLERY3]"><img src="img/photo/image3.jpg" style="width: 610px; height: auto;"/></a>

		

          <a href="img/photo/image4.jpg" rel="ilightbox[GALLERY4]"><img src="img/photo/image4.jpg" style="width: 610px; height: auto;"/></a>

</article>